.edit {
  width: 40%;
  display: inline-block;
  margin: 10px;
}

.left-btn {
  margin-right: 10px;
}

.table {
  width: 50%;
  margin-top: 5px;
  margin-left: 25%;
  text-align: center;
  vertical-align: middle;
}

.col-md-3,
.col-md-2,
.col-md-4,
.col-md-1 {
  width: 0;
}


@media screen and (max-width: 992px) {

  .col-xs-3,
  .col-xs-2,
  .col-xs-4,
  .col-xs-1 {
    width: 0;
  }

  .table {
    width: 96%;
    margin: 2%;
    text-align: center;
    vertical-align: middle;
  }

}
